<div class="quote-container" *ngIf="currentStep !==11">
  <!-- Sección izquierda: Tarjeta de inicio -->

  <div class="quote-izquierda">
    <div class="Tarjeta">
      <form (submit)="$event.preventDefault()">
            <!-- Paso 1: Nombre -->
            <div *ngIf="currentStep === 1">
              <label>Nombre(s)</label>
              <input type="text" [(ngModel)]="quoteData.nombreCliente[0]" name="nombreCliente" required />
    
              <label>Apellidos</label>
              <input type="text" [(ngModel)]="quoteData.nombreCliente[1]" name="apellidoCliente" required />
            </div>
            <!-- Paso 2: Email -->
            <div *ngIf="currentStep === 2">
              <label>Correo Electrónico</label>
              <input type="email" [(ngModel)]="quoteData.contactoCliente[0]" name="emailCliente" required />
    
              <label>Número de Teléfono</label>
              <input type="email" [(ngModel)]="quoteData.contactoCliente[1]" name="numeroCliente" required />
            </div>
    
            <!-- Paso 3: Volumen -->
    
            <div *ngIf="currentStep === 3">
              <h3>Ayúdanos a hacer una lista de lo que deseas mover en tu mudanza</h3>
    
              <!-- Contenedor de habitaciones en grid -->
              <div class="habitaciones-grid">
                <button *ngFor="let habitacion of habitaciones" (click)="toggleHabitacion(habitacion.nombre)"
                  [class.activa]="habitacionAbierta === habitacion.nombre" class="habitacion-btn">
                  {{ habitacion.nombre }}
                </button>
              </div>
              <!-- Lista de muebles en la habitación seleccionada -->
              
    
              <!-- Lista de objetos seleccionados -->
              <h4>Lista:</h4>
              <table *ngIf="quoteData.volumen.length > 0">
                <thead>
                  <tr>
                    <th>Mueble</th>
                    <th>Cantidad</th>
                    <th>Volumen (m³)</th>
                    <th>Acción</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let mueble of quoteData.volumen; let i = index">
                    <td>{{ mueble.nombre }}</td>
                    <td>
                      <button (click)="eliminarMueble(i)" style="width: 50px;">➖</button>
                      {{ mueble.cantidad }}
                      <button (click)="agregarMueble(mueble)" style="width: 50px;">➕</button>
                    </td>
                    <td>{{ mueble.volumen * mueble.cantidad }}</td>
                    <td>
                      <button (click)="eliminarMueble(i)">❌</button>
                    </td>
                  </tr>
                </tbody>
              </table>
    
              <h5>Volumen estimado: {{ quoteData.VolumenTotal }} m³</h5>
            </div>
    
    
            <!-- Paso 4: Origen y Destino-->
            <div *ngIf="currentStep === 4">
              <div class="">
                <label>Calle y número de Origen</label>
                <input type="text" [(ngModel)]="quoteData.origen[0]" name="origen" required />
                <label>Ciudad</label>
                <input type="text" [(ngModel)]="quoteData.origen[1]" name="origen" required />
                <label>Estado</label>
                <input type="text" [(ngModel)]="quoteData.origen[2]" name="origen" required />
                <label>Pais</label>
                <input type="text" [(ngModel)]="quoteData.origen[3]" name="origen" required />
                <label>Código Postal</label>
                <input type="text" [(ngModel)]="quoteData.origen[4]" name="origen" required />
              </div>
        
            </div>
    
            <!-- Paso 6: Tipo de origen -->
            <div *ngIf="currentStep === 5" class="">
              <label>Tipo de vivienda de origen</label>
              <select [(ngModel)]="quoteData.tipoOrigen[0]" name="tipoOrigen" required>
                <option value="casa">Casa</option>
                <option value="dpto">Departamento</option>
                <option value="oficina">Oficina</option>
                <option value="bodega">Bodega</option>
              </select>
            
              <!-- Mostrar "Pisos" solo si se selecciona casa, dpto u oficina -->
              <div *ngIf="quoteData.tipoOrigen[0] === 'casa' || quoteData.tipoOrigen[0] === 'dpto' || quoteData.tipoOrigen[0] === 'oficina'">
                <label>Pisos</label>
                <input type="number" [(ngModel)]="quoteData.tipoOrigen[1]" name="pisosOrigen" required />
              </div>
            
              <!-- Mostrar "¿Tiene elevador?" solo si es dpto u oficina -->
              <div *ngIf="quoteData.tipoOrigen[0] === 'dpto' || quoteData.tipoOrigen[0] === 'oficina'">
                <label>¿Tiene elevador?</label>
                <select [(ngModel)]="quoteData.tipoOrigen[2]" name="elevadorOrigen" required>
                  <option [value]="true">Sí</option>
                  <option [value]="false">No</option>
                </select>
              </div>
            </div>
            
            <!-- Paso 7: Tipo de destino -->
            <div *ngIf="currentStep === 6" class="">
              <label>Tipo de vivienda de destino</label>
              <select [(ngModel)]="quoteData.tipoDestino[0]" name="tipoDestino" required>
                <option value="casa">Casa</option>
                <option value="dpto">Departamento</option>
                <option value="oficina">Oficina</option>
                <option value="bodega">Bodega</option>
              </select>
            
              <!-- Mostrar "Pisos" solo si se selecciona casa, dpto u oficina -->
              <div *ngIf="quoteData.tipoDestino[0] === 'casa' || quoteData.tipoDestino[0] === 'dpto' || quoteData.tipoDestino[0] === 'oficina'">
                <label>Pisos</label>
                <input type="number" [(ngModel)]="quoteData.tipoDestino[1]" name="pisosDestino" required />
              </div>
            
              <!-- Mostrar "¿Tiene elevador?" solo si es dpto u oficina -->
              <div *ngIf="quoteData.tipoDestino[0] === 'dpto' || quoteData.tipoDestino[0] === 'oficina'">
                <label>¿Tiene elevador?</label>
                <select [(ngModel)]="quoteData.tipoDestino[2]" name="elevadorDestino" required>
                  <option [value]="true">Sí</option>
                  <option [value]="false">No</option>
                </select>
              </div>
            </div>
            
    
            <!-- Paso 8: Metros de acarreo -->
            <div *ngIf="currentStep === 7" class="">
              <label>Metros de acarreo en origen</label>
              <input type="number" [(ngModel)]="quoteData.metrosAcarreo[0]" name="acarreoOrigen" required />
    
              <label>Metros de acarreo en destino</label>
              <input type="number" [(ngModel)]="quoteData.metrosAcarreo[1]" name="acarreoDestino" required />
            </div>
    
            <!-- Paso 9: Empaque VIP -->
            <div *ngIf="currentStep === 8" class="opciones-empaque">
              <label>Selecciona el tipo de empaque para tu mudanza:</label>
              
              <div class="botones-empaque">
                <button (click)="seleccionarEmpaque('sencillo')" class="btn-empaque">Empaque Sencillo</button>
                <button (click)="seleccionarEmpaque('plus')" class="btn-empaque">Empaque Plus</button>
                <button (click)="seleccionarEmpaque('vip')" class="btn-empaque">Empaque VIP</button>
              </div>
            </div>

            <div *ngIf="currentStep === 9" class="opciones-seguro">
              <label>Selecciona el tipo de seguro</label>
              
              <div class="botones-seguro">
                <button (click)="seleccionarSeguro('basico')" class="btn-seguro">Seguro Básico</button>
                <button (click)="seleccionarSeguro('amplia')" class="btn-seguro">Cobertura Amplia</button>
              </div>
            </div>
                   
            <div *ngIf="currentStep === 10">
              <h3>Todo listo para tu cotización</h3>
            </div>
            
            <!-- Botones de navegación -->
            <div class="buttons">
              <button type="button" (click)="prevStep()" *ngIf="currentStep > 1">Atrás</button>
              <button type="button" (click)="nextStep()" [disabled]="!isValidStep()" *ngIf="currentStep < 8">
                Siguiente
              </button>
              <button type="submit" (click)="submitQuote()" *ngIf="currentStep === 10">
                Enviar cotización
              </button>
            </div>
            
            
            <!-- Mensaje de éxito -->
            <p *ngIf="successMessage">{{ successMessage }}</p>
          </form>
    

    </div>
  </div>

  <!-- Sección derecha: Explicación de pasos -->
  <div class="quote-derecha">
    <div class="Tarjeta">
      <div *ngIf="currentStep === 8" class="opciones-empaque">
        <h5>Empaque Sencillo</h5>
        
        <h5>Empaque plus</h5>
        <h5>Empaque Vip</h5>
      </div>

      <div *ngIf="habitacionAbierta && currentStep===3" >
        <h4>{{ habitacionAbierta }}</h4>
        <table>
          <thead>
            <tr>
              <th>Mueble</th>
              <th>Volumen (m³)</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let mueble of getMueblesDeHabitacion(habitacionAbierta)">
              <td>{{ mueble.nombre }}</td>
              <td>{{ mueble.volumen }}</td>
              <td>
                <button (click)="agregarMueble(mueble)">➕</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="currentStep === 4">

        <div class="">
          <label>Calle y número de Destino</label>
          <input type="text" [(ngModel)]="quoteData.destino[0]" name="origen" required />
          <label>Ciudad</label>
          <input type="text" [(ngModel)]="quoteData.destino[1]" name="origen" required />
          <label>Estado</label>
          <input type="text" [(ngModel)]="quoteData.destino[2]" name="origen" required />
          <label>Pais</label>
          <input type="text" [(ngModel)]="quoteData.destino[3]" name="origen" required />
          <label>Código Postal</label>
          <input type="text" [(ngModel)]="quoteData.destino[4]" name="origen" required />
        </div>
        <button type="button" (click)="prevStep()" *ngIf="currentStep > 1" style="color: #ffd700;">.</button>
      </div>



  </div>
</div>
</div>
  
<div *ngIf="currentStep === 11">
  <app-header></app-header>

  <div class="plan-section">
    <div class="container text-center my-5" style="max-width: 1100px;">
        <h2>Elige el Plan Perfecto para tu Mudanza</h2>
        <h3>Tu mudanza con folio: {{folioLetra}}{{folio}}</h3>
        <p class="lead mb-5 text-secondary">Estas son las propuestas que te tenemos</p>

        <div class="row">
            <div class="col-md-4">
                <div class="plan-card">
                    <h3>Plan Directo</h3>
                    <p>Disfruta de un servicio de mudanza personalizado que garantiza la entrega de tus pertenencias en tiempo y forma.</p>
                    <div class="price">Costo: {{directoPrecio}}</div>
                    <a href="Cotiza" class="btn">DESCARGA ESTA COTIZACIÓN</a>
                 
                   

                    <a [attr.href]="mensajeWhatsApp" class="btn whatsapp" target="_blank" style="background-color: #25d366;">
                      Reserva este Plan
                     </a>
                          <ul class="features list-unstyled">
                        <li>✔ Recorrido de {{distancia}}</li>
                        <li>✔ Tiempo de entrega {{directoTiempo}} dias</li>
                        <li>✔ Entrega más rápida</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4 position-relative">
                <div class="plan-card popular">
                    <div class="highlight-label" style="color: white;">PLAN MÁS ELEGIDO</div>
                    <h3>Plan Directo USA</h3>
                    <p>Elige este plan si buscas un traslado directo de tus pertenencias desde EE.UU a México con los mejores estándares de seguridad y rapidez.</p>
                    <div class="price" style="color: white;">Costo: {{directoUSAPrecio}}</div>
                    <a href="Cotiza" class="btn">DESCARGA ESTA COTIZACIÓN</a>
                    
                    

                    <a [attr.href]="mensajeWhatsApp" class="btn whatsapp" target="_blank" style="background-color: #25d366;">
                      Reserva este Plan
                     </a>
                    <ul class="features list-unstyled">
                        <li>✔ Recorrido de {{distancia}}</li>
                        <li>✔ Tiempo de entrega {{directoUSATiempo}} dias</li>
                        <li>✔ 20% de descuento en envío</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="plan-card">
                    <h3>Plan Compartido</h3>
                    <p>Ideal para quienes desean compartir costos. Tu carga se combinará con la de otros usuarios para un ahorro significativo.</p>
                    <div class="price">Costo: {{compartidoPrecio}}</div>
                    <a href="Cotiza" class="btn">DESCARGA ESTA COTIZACIÓN</a>

                   

                    <a [attr.href]="mensajeWhatsApp" class="btn whatsapp" target="_blank" style="background-color: #25d366;">
                      Reserva este Plan
                     </a>

                    <ul class="features list-unstyled">
                        <li>✔ Recorrido de {{distancia}}</li>
                        <li>✔ Tiempo de entrega {{compartidoTiempo}} dias</li>
                        <li>✔ 40% de descuento en envío</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <button type="submit" (click)="submitQuote()" >
  Enviar cotización
</button>
 -->
</div>
  



 