<app-header></app-header>
<div class="hero">
<div class="plan-card">
    <div class="nosotros-fotos">
        <div class="container mt-5">
            <h2 class="text-center mb-4 fotos">Nuestro trabajo</h2>
    
            <div id="carruselTrabajo" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://mudanzasgogo.com/images/subiendocamion.jpg" class="d-block w-100" alt="Trabajo 1">
                    </div>
                    <div class="carousel-item">
                        <img src="https://mudanzasgogo.com/images/mesaproteccion.jpg" class="d-block w-100" alt="Trabajo 2">
                    </div>
                    <div class="carousel-item">
                        <img src="https://mudanzasgogo.com/images/bultosemplaye.jpg" class="d-block w-100" alt="Trabajo 3">
                    </div>
                    <div class="carousel-item">
                        <img src="https://mudanzasgogo.com/images/cajasempaque.jpg" class="d-block w-100" alt="Trabajo 4">
                    </div>
                    <div class="carousel-item">
                        <img src="https://mudanzasgogo.com/images/cartoncor.jpg" class="d-block w-100" alt="Trabajo 5">
                    </div>
                    <div class="carousel-item">
                        <img src="https://mudanzasgogo.com/images/cartoncor.jpg" class="d-block w-100" alt="Trabajo 5">
                    </div>
                    <div class="carousel-item">
                        <img src="https://mudanzasgogo.com/images/foleando.jpg" class="d-block w-100" alt="Trabajo 5">
                    </div>
                    <div class="carousel-item">
                        <img src="https://mudanzasgogo.com/images/moviendomueble.jpg" class="d-block w-100" alt="Trabajo 5">
                    </div>
                    <div class="carousel-item">
                        <img src="https://mudanzasgogo.com/images/fragil.jpg" class="d-block w-100" alt="Trabajo 5">
                    </div>
                    <div class="carousel-item">
                        <img src="https://mudanzasgogo.com/images/empaquevip.jpg" class="d-block w-100" alt="Trabajo 5">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carruselTrabajo" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carruselTrabajo" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Siguiente</span>
                </button>
            </div>
        </div>
    </div>
</div>
</div>
    <app-historia></app-historia>
<div class="partners">
    <app-partners></app-partners>
</div>
<app-footer></app-footer>

