.hero{
    padding-top: 120px;
    background: linear-gradient(to bottom, #ffffff, #ece0b2);
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.partners{
    padding-top: .5rem;
    background:  #ece0b2; 
    padding-bottom: .5rem;
}
.nosotros-fotos {
    min-height: calc(100vh - 1rem); 
}

.fotos{
    font-weight: bolder;
}
.carousel-item img {
    max-height: 600px; /* Ajusta la altura según necesites */
     /* Mantiene el ancho completo */
    object-fit: cover; /* Ajusta la imagen sin deformarla */
    border-radius: 40px;
}

.plan-card {
    background: white;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    text-align: center;
    min-height: 450px;
    min-width: 1400px;
}