<section class="plan-section">
    <div class="container text-center my-5" style="max-width: 1100px;">
        <h2>Mision Vision Historia</h2>
        <p class="lead mb-5 text-secondary">Nuestra mision vision e historia</p>

        <div class="row">
            <div class="col-md-6">
                <div class="plan-card">
                    <h3>Mision</h3>
                    <p>Disfruta de un servicio de mudanza personalizado que garantiza la entrega de tus pertenencias en tiempo y forma.</p>
                   
                </div>
            </div>

            <div class="col-md-6 ">
                <div class="plan-card">
                    <h3>Vision</h3>
                    <p>Elige este plan si buscas un traslado directo de tus pertenencias desde EE.UU a México con los mejores estándares de seguridad y rapidez.</p>
                </div>
            </div>

           
        </div>
        <div class="col-md-12">
            <div class="plan-card">
                <h3>Historia</h3>
                <p>Ideal para quienes desean compartir costos. Tu carga se combinará con la de otros usuarios para un ahorro significativo.</p>
            </div>
        </div>
    </div>
</section>
