body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 60px;
    background-color: black;
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
}
.MudanzasMx {
    font-size: 2em;
    font-weight: bold;
    color: #FFD700;
    
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 5rem;
  
    
    font-weight: lighter;
}
.nav-links li {
    display: inline;
}
.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}
.cta {
    background-color: #FFD700;
    color: black;
    padding: 15px 25px;
    text-decoration: none;
    
    border-radius: 5px;
}

.cta:hover{
    transform: translateY(-1px);
    background-color: #f0d123;
}

.active:hover{
    transform: translateY(-1px);
}
.MudanzasMx:hover{
    transform: translateY(-1px);
}