
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: .2rem 60px;
    background-color: black;
    
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
}
.MudanzasMx {
    font-size: 1rem;
    font-weight: bold;
    color: black;
    margin:0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
   
    
}

h1 {
    font-size: 1rem;
    margin: 0;
}



.nav-links {
    list-style: none;
    display: flex;
    gap: 5rem;
  
    
    font-weight: lighter;
}
.nav-links li {
    display: inline;
}
.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}
.cta {
    background-color: #fbc210;
    color: black;
    padding: 10px 30px;
    text-decoration: none;
    
    border-radius: 25px;
    margin-right: 10px;
}

.cta:hover{
    transform: translateY(-1px);
    background-color: #ddac18;
}

.active:hover{
    transform: translateY(-1px);
}
.MudanzasMx:hover{
    transform: translateY(-1px);
}

/* Estado inicial: transparente */
#navbar {
    background-color: transparent;
    transition: background-color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
  }
  
  /* Cuando el usuario hace scroll */
  #navbar.scrolled {
    background-color: rgba(255, 255, 255,0.9); 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
  }
  