<div class="hero-section d-flex align-items-center py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-12 text-center text-lg-start mb-4 mb-lg-0">
                <h1 class="fw-bold">Mudanzas Sin Complicaciones</h1>
                <p>Experimenta un servicio de mudanza confiable y eficiente...</p>
                <a href="#" class="btn cta mt-3">Cotiza Aquí</a>
            </div>
            <div class="col-lg-6 col-12 text-center">
                <img src="https://cdni.iconscout.com/illustration/premium/thumb/moving-service-workers-carrying-furniture-5019550-4217841.png" alt="trabajadores moviendo cajas" class="img-fluid">
            </div>
        </div>
    </div>
</div>
