<div class="hero-section d-flex align-items-center py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-12 text-center text-lg-start mb-4 mb-lg-0">
                <h1 class="fw-bold">Moviendo tu mundo, sin fronteras</h1>
                <p>En Mudanzas MX, hacemos que tu traslado internacional sea rápido, seguro y sin estrés. Con más de 18 años de experiencia, ofrecemos soluciones personalizadas para llevar tus pertenencias de EE.UU. a México y a cualquier parte del mundo.
                </p>
                <a href="Cotiza" class="btn cta mt-3">Cotiza Aquí</a>
            </div>
            <div class="col-lg-6 col-12 text-center">
                <img src="https://cdni.iconscout.com/illustration/premium/thumb/moving-service-workers-carrying-furniture-5019550-4217841.png" alt="trabajadores moviendo cajas" class="img-fluid">
            </div>
        </div>
    </div>
</div>
