<nav class="navbar navbar-expand-lg bg-transparent px-2.5em">
    <div class="container-fluid">
      <a class="navbar-brand MudanzasMx" href="#">Mudanzas<span class="text-black">MX</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mx-auto mb-5 mb-lg-0 d-flex gap-5">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-disabled="true">Sucursales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-disabled="true">Contacto</a>
          </li>
        </ul>
     
        
          <button class="btn cta" type="submit">Cotiza</button>
        
      </div>
    </div>
  </nav>

