<div class="hero-section d-flex align-items-center py-5" style="overflow: hidden;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-12 text-center text-lg-start mb-4 mb-lg-0 order-lg-1 order-2">
                <img src="https://cdni.iconscout.com/illustration/premium/thumb/house-moving-service-5064962-4226785.png" alt="trabajadores moviendo cajas" class="img-fluid">
            </div>
            <div class="col-lg-6 col-12 text-center text-lg-start order-lg-2 order-1">
                <h1 class="fw-bold" style="word-wrap: break-word;">Descubre la Experiencia de Mudanzas sin Estrés con MudanzasMx</h1>
                <p style="word-wrap: break-word;">Si estás planeando una mudanza de Estados Unidos a México, nuestro equipo está preparado para hacer que tu traslado sea fácil y seguro. Con 18 años de experiencia en el sector, ofrecemos planes flexibles que se adaptan a tus necesidades. Contáctanos para obtener una cotización y descubre cómo podemos ayudarte a asegurar una mudanza sin complicaciones.</p>
                <a href="/Cotiza" class="btn cta mt-3">Comienza Tu Mudanza Hoy</a>
            </div>
        </div>
    </div>
</div>

