.hero-section {
    min-height: 100vh;
    background-color: #ece0b2;
}
.hero-section h1 {
    font-size: 4rem;
    font-weight: bolder;
}
.hero-section p {
    font-size: 1.5rem;
    margin-top: 20px;
}
.hero-section .btn {
    margin-top: 30px;
    padding: 10px 30px;
    font-size: 1.2rem;
}
.cta {
    background-color: #fbc210;
    color: black;
    padding: 15px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}
.hero-section {
    overflow: hidden;
}

.hero-section h1, .hero-section p {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

/* Asegurando márgenes y padding correctos en dispositivos pequeños */
@media (max-width: 576px) {
    .hero-section {
        padding: 20px;
    }
    .hero-section h1 {
        font-size: 1.8rem;
    }
    .hero-section p {
        font-size: 1rem;
    }
}

.cta:hover{
    transform: translateY(-1px);
    background-color: #ddac18;
}