
<div class="func">
    <div class="func-text">
    <h1 class="text-center mb-10">Cómo Funciona MudanzasMx</h1>
    <p class="text-center lead text-secondary mb-5 my-100">Facilitamos tu mudanza internacional con un proceso simple y eficiente:</p>
</div>
    <!-- Contenedor de los pasos -->
    <div class="cards">
    <div class="row">
        <!-- Paso 1 -->
        <div class="col-md-3">
            <div class="card-step text-center">
                <div class="display-4">
                    <h2 class="">1</h2>
                </div>
                <h3 class="h4">Calcula el Volumen de tu Menaje</h3>
                <p>Utiliza nuestra herramienta en línea para ofrecerte una cotización precisa.</p>
            </div>
        </div>

        <!-- Paso 2 -->
        <div class="col-md-3">
            <div class="card-step text-center">

                <div class="display-4">
                    <h2 class="">2</h2>
                </div>                <h3 class="h4">Elige uno de Nuestros 3 planes y Confirma tu Mudanza</h3>
                <p>Selecciona entre Flex Compartido, Directo USA o Exclusivo según tu presupuesto y necesidades de entrega.
                </p>
            </div>
        </div>

        <!-- Paso 3 -->
        <div class="col-md-3">
            <div class="card-step text-center">
                <div class="display-4">
                    <h2 class="">3</h2>
                </div>            
                    <h3 class="h4">Confirma tu mudanza</h3>
                <p>Confirma tu cotización para de esta manera empezar a brindarte tu servicio.</p>
            </div>
        </div>

        <!-- Paso 4 -->
        <div class="col-md-3">
            <div class="card-step text-center">
                <div class="display-4">
                    <h2 class="">4</h2>
                </div>
                <h3 class="h4">Disfruta el Cambio</h3>
                <p>Confirma tu cotización para de esta manera empezar a brindarte tu servicio.</p>
            </div>
        </div>
        </div>
    </div>
</div>