

.display-4{
    height: 60px;
    width: 60px;
    background-color: rgba(251, 194, 16, 0.6); /* Amarillo con 70% de opacidad */
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    
}

.card-step:hover {
    transform: translateY(-5px); /* Eleva la tarjeta al hacer hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al hacer hover */
}

.card-step h2 {
    color: #967409;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
}

.card-step h3 {
    color: #333; /* Color oscuro para los títulos */
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card-step p {
    color: #666; /* Color gris para el texto */
}

.func h1 {
    font-size: clamp(2rem, 5vw, 4rem);
    font-weight: bolder;
   
}

.func{
    margin-top: 60px;
    margin-bottom: 40px;
    min-height: 50vh;
    
}

.cards{
    margin:40px;
    padding-left: 100px;
    padding-right: 100px;
}


@media (max-width: 991px) {
    /* Estilos específicos para pantallas menores a 991px */
    
    .hero-section {
        margin-top: 50px;
    }
    .card-step{  
        min-height: 350px;
        margin-bottom: 20px;   
     }
     .cards{
        margin:40px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
}
.col-md-3{
    margin-bottom: 20px;
}

.cards .row {
    display: flex;
    justify-content: space-around;
    align-items: stretch; 
}

.card-step {
    background: rgba(255, 255, 255, 0.608);
    border-radius: 40px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 100%; /* Hace que todas las tarjetas tengan la misma altura */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


