<div class="container my-5 mx-50">
    <!-- Título principal -->
    
    <h1 class="text-center mb-10">Cómo Funciona MudanzasMx</h1>
    <p class="text-center lead text-secondary mb-5">Facilitamos la mudanza de tus pertenencias de Estados Unidos a México</p>

    <!-- Contenedor de los pasos -->
    <div class="container align-items-center">
    <div class="row">
        <!-- Paso 1 -->
        <div class="col-md-3">
            <div class="card-step text-center">
                <h2 class="display-4">1</h2>
                <h3 class="h4">Calcula el Volumen de tu Menaje</h3>
                <p>Utiliza nuestra herramienta en línea para calcular fácilmente el volumen de tus pertenencias y obtener una cotización precisa para tu mudanza.</p>
            </div>
        </div>

        <!-- Paso 2 -->
        <div class="col-md-3">
            <div class="card-step text-center">
                <h2 class="display-4">2</h2>
                <h3 class="h4">Cotiza en Pocos Minutos</h3>
                <p>Obtén una cotización rápida y precisa en solo unos minutos. Nuestro proceso simplificado permite garantizar un proceso sin estrés.</p>
            </div>
        </div>

        <!-- Paso 3 -->
        <div class="col-md-3">
            <div class="card-step text-center">
                <h2 class="display-4">3</h2>
                <h3 class="h4">Elige uno de Nuestros 3 Planes</h3>
                <p>Selecciona entre nuestros planes: directo, directo USA o compartido según tus necesidades y presupuesto</p>
            </div>
        </div>

        <!-- Paso 4 -->
        <div class="col-md-3">
            <div class="card-step text-center">
                <h2 class="display-4">4</h2>
                <h3 class="h4">Entrega Segura y Eficiente</h3>
                <p>Recibe tus pertenencias en tu nueva ubicación con total seguridad y en el plazo acordado, gracias a nuestra experiencia de 18 años en el sector.</p>
            </div>
        </div>
        </div>
    </div>
</div>