.quote-container {
  min-height: 100vh;
  background:  #ece0b2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 /* Espacio entre las dos secciones */
}

.quote-izquierda, .quote-derecha {
  width: 50%; /* Cada sección ocupa la mitad del ancho */
  height: 100%;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  text-align: center;
}

.quote-izquierda {
  background: #ece0b2;
  padding: 20px;
}

.quote-derecha {
  background: white;
  padding: 20px;
}

/* Tarjetas */
.Tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  text-align: center;
  max-width: 80%;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  min-height: 400px;
}

.quote-derecha .Tarjeta{
  background-color: #ffd700;
}

/* Botón */
button {
  margin-top: 15px;
  padding: 10px 15px;
  border: none;
  background-color: #ffd700;
  color: black;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25px;
}

/* Lista */
.quote-derecha ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.quote-derecha li {
  margin-bottom: 8px;
}

/* Responsivo */
@media (max-width: 768px) {
  .quote-container {
      flex-direction: column; /* Cambia de fila a columna */
      align-items: center;
  }

  .quote-izquierda, .quote-derecha {
      width: 100%;
      height: auto;
      padding: 40px 20px;
  }

  .Tarjeta {
      max-width: 100%;
  }
}