.quote-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fef8e7;
}
.center{
    text-align: center;
}


button {
  margin: 15px;
  padding: 10px 15px;
  border: none;
  background-color: #fbc210;
  color: black;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25px;
}

.Tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  text-align: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}

/*

.quote-izquierda, .quote-derecha {
  width: 50%; 
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.quote-izquierda {
  background: #ece0b2;
  padding: 20px;
}

.quote-derecha {
  background: white;
  padding: 20px;
}



.quote-derecha .Tarjeta{
  background-color: #ffd700;
}



.quote-derecha ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.quote-derecha li {
  margin-bottom: 8px;
}

@media (max-width: 768px) {
  .quote-container {
      flex-direction: column; 
      align-items: center;
  }

  .quote-izquierda, .quote-derecha {
      width: 100%;
      height: auto;
      padding: 40px 20px;
  }

  .Tarjeta {
      max-width: 100%;
  }
}

.footer-title {
  font-size: 1.5rem;

}
.footer-title .yellow {
  color: #ffcc00;
}
.footer-title .black {
  color: black;
}

.fo {
  height: 200px;
}

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 60px;
  height: 60px;
  background-color: #25d366;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.whatsapp-button img {
  width: 40px;
  height: 40px;
} */