.quote-section{
       
  

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   /* Centrar verticalmente en la pantalla */
  }

  .quote-container {
    min-height: calc(100vh - 1rem);
    background: linear-gradient(to bottom, #ffffff, #ece0b2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
  }
  
  .quote-start, .quote-steps {
    width: 45%;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    background: white;
    min-height: 400px;
  }
  
  .quote-start h2 {
    margin-bottom: 10px;
  }
  
  .quote-start button {
    margin-top: 15px;
    padding: 10px 15px;
    border: none;
    background-color: #ffd700;
    color: black;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
  }
  
  .quote-steps h3 {
    margin-bottom: 10px;
  }
  
  .quote-steps ul {
    list-style-type: none;
    padding: 0;
  }
  
  .quote-steps li {
    margin-bottom: 8px;
    text-align: left;
  }
  @media (max-width: 768px) {
    .quote-container {
        flex-direction: column; /* Cambia de row a column */
        align-items: center;
    }

    .quote-start, .quote-steps {
        width: 90%; /* Ajusta el ancho para que ocupe más espacio */
        min-height: auto;
    }
}