<div class="row">
    <div class="col-lg-3 col-md-6 derecha recuadro">
        <p>Mudanzas realizadas: <span>{{ contadorFormatted }}</span></p>
    </div>
    <div class="col-lg-3 col-md-6 izquierda recuadro">
        <p>Más de 18 años de experiencia</p>
    </div>
    <div class="col-lg-3 col-md-6 extra1 recuadro">
        <p>Servicio en todo el país</p>
    </div>
    <div class="col-lg-3 col-md-6 extra2 recuadro">
        <p>Clientes satisfechos: <span>{{ clientesFormatted }}</span></p>
    </div>
</div>
