.cont {
    display: flex;
    gap: 150px;
}

.contador {
    font-size: clamp(6rem, 10vw, 11rem);
    color: #fbc210;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

h2 {
    font-size: clamp(2rem, 4vw, 3rem);
}
.contador.visible {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 991px) {
    .cont {
        flex-direction: column;
        margin-bottom: 40px;
    }
}
