

.recuadro {
    flex: 1; /* Cada recuadro ocupa el 25% del ancho */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: white;
    min-width: 25%;
}

p {
    max-width: 50%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 50vh;
}

/* Colores */
.izquierda { background-color: #967409; }
.derecha { background-color: #fbc210; }
.extra1 { background-color: #fbc210; }
.extra2 { background-color: #967409; }

/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
    .row {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .recuadro {
        flex: 1 1 calc(50%); /* Cada recuadro ocupa el 50% del ancho con espacio entre ellos */
    }
    p{
        font-size: smaller;
    }
    .extra1{
        order: 2;
    }
}
