<app-header></app-header>
    <div class="contacto-section">
        <div class="contact-container">
            <!-- Tarjeta de contacto -->
            <div class="contact-card">
              <h2>Contacto</h2>
              <div *ngIf="!emailSent">
                <form (submit)="sendEmail(); $event.preventDefault()">
                  <label>Nombre</label>
                  <input type="text" [(ngModel)]="name" name="name" required />
              
                  <label>Email</label>
                  <input type="email" [(ngModel)]="email" name="email" required />
              
                  <label>Mensaje</label>
                  <textarea [(ngModel)]="message" name="message" required></textarea>
              
                  <button type="submit" [disabled]="isSending"> 
                    {{ isSending ? 'Espera...' : 'Enviar' }} 
                  </button>
                </form>
              </div>
              <div *ngIf="emailSent" class="succes-card">
              <div>
                <p>✅ Tu mensaje ha sido enviado con éxito. Nos pondremos en contacto contigo pronto.</p>
              </div>
            </div>
            </div>
          
            <!-- Espacio para imagen -->
            <div class="contact-image">
              <img src="" alt="Imagen de contacto">
            </div>
          </div>          
    </div>
<app-footer></app-footer>