<section class="plan-section">
    <div class="container text-center my-5" style="max-width: 1100px;">
        <h2>Elige el Plan Perfecto para tu Mudanza</h2>
        <p class="lead mb-5 text-secondary">Únete a miles de clientes satisfechos que confían en MudanzasMx para trasladar sus pertenencias.
        </p>

        <div class="row">
            <div class="col-md-4">
                <div class="plan-card">
                    <h3>Plan Flex Compartido</h3>
                    <p>
                        Ideal para quienes buscan la opción más económica. Tu carga se combinará con la de otros usuarios para reducir costos, con entrega flexible.
                    </p>
<!--                     <div class="price">Desde $500</div>
 -->                    <a href="Cotiza" class="btn">SELECCIONA ESTE PLAN</a>
                    <ul class="features list-unstyled">
                        <li>✔ La opción más económica.</li>
                        <li>✔ Ideal si no tienes prisa en recibir tus pertenencias.</li>
                        <li>✔ <span style="font-weight: bold;">Tiempo de entrega:</span> Más de 30 días.</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4 position-relative">
                <div class="plan-card popular">
                    <div class="highlight-label" style="color: white;">PLAN MÁS ELEGIDO</div>
                    <h3>Plan Directo USA</h3>
                    <p>La mejor opción si quieres un equilibrio entre precio y rapidez. Tu mudanza se almacena en bodega para agilizar el envío.</p>
<!--                     <div class="price" style="color: white;">$750</div>
 -->                    <a href="Cotiza" class="btn">SELECCIONA ESTE PLAN</a>
                    <ul class="features list-unstyled">
                        <li>✔ Equilibrio entre precio y Rapidez</li>
                        <li>✔ Transporte ágil y seguro</li>
                        <li>✔ <span style="font-weight: bold;">Tiempo de entrega:</span> Alrededor de 15 días.</li>
                    </ul>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="plan-card">
                    <h3>Plan Exclusivo</h3>
                    <p>Si necesitas tu mudanza lo antes posible, este es el plan para ti. Transporte inmediato y sin escalas para que recibas tus pertenencias con calidad de urgente.</p>
                    <!--   <div class="price">Desde $300</div> -->
                    <a href="Cotiza" class="btn">SELECCIONA ESTE PLAN</a>
                    <ul class="features list-unstyled">
                        
                        <li>✔ El servicio más rápido y directo.</li>  
                        <li>✔ Transporte inmediato a tu destino sin escalas.</li>
                        <li>✔ <span style="font-weight: bold;">Tiempo de entrega:</span> Aproximadamente 5 días.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>