<a href="https://api.whatsapp.com/send?phone=5215618953849&text=Que%20tal%2C%20me%20interesa%20realizar%20una%20cotizaci%C3%B3n%20%F0%9F%9A%9A" target="_blank" class="whatsapp-button">
    <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp">
</a>

<footer class="bg-light text-dark pt-4 pb-2 w-100 fo">
    <div class="container-fluid"> <!-- Usamos container-fluid para que ocupe todo el ancho -->
        <!-- Título MudanzasMx -->
        <div class="row mb-3">
            <div class="col-12 text-center">
                <a href="/" style="text-decoration: none;">
                <h2 class="footer-title">
                    <span class="black">MUDANZASMX</span>
                </h2>
            </a>
            </div>
        </div>

        <!-- Primera fila: Enlaces -->
        <div class="row mb-3">
            <div class="col-12 text-center">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item"><a href="#" class="text-dark text-decoration-none">Inicio</a></li>
                    <li class="list-inline-item"><a href="Servicios" class="text-dark text-decoration-none">Servicios</a></li>
                    <li class="list-inline-item"><a href="Nosotros" class="text-dark text-decoration-none">Nosotros</a></li>
                    <li class="list-inline-item"><a href="Cotiza" class="text-dark text-decoration-none">Cotiza</a></li>
                    <li class="list-inline-item"><a href="Sucursales" class="text-dark text-decoration-none">Sucursales</a></li>
                    <li class="list-inline-item"><a href="#" class="text-dark text-decoration-none">Preguntas Frecuentes</a></li>
                </ul>
            </div>
        </div>

        <!-- Segunda fila: Iconos de redes sociales -->
        <div class="row mb-3">
            <div class="col-12 text-center">
                <a href="#" class="text-dark me-3"><i class="bi bi-facebook"></i></a>
                <a href="#" class="text-dark me-3"><i class="bi bi-twitter"></i></a>
                <a href="#" class="text-dark me-3"><i class="bi bi-instagram"></i></a>
                <a href="#" class="text-dark"><i class="bi bi-linkedin"></i></a>
            </div>
        </div>

        <!-- Tercera fila: Derechos reservados -->
        <div class="row">
            <div class="col-12 text-center">
                <p class="mb-0">© 2025 MudanzasMx. Todos los Derechos Reservados.</p>
            </div>
        </div>
    </div>
</footer>